.glass {
    background: rgb(246, 247, 251);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply py-10 px-7 border-4 border-gray-50 shrink-0  min-h-fit w-[30%] rounded-3xl  min-w-max;
  }
  
  .profile__img {
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
  }
  .profile__img:hover {
    @apply border-gray-200;
  }
  
  .textbox {
    @apply w-3/4 px-5 py-4 text-lg border-0 shadow-sm rounded-xl;
  }
  
  .textbox:focus {
    @apply outline-none;
  }
  
  .btn {
    @apply w-3/4 py-4 text-xl text-center bg-indigo-500 border rounded-lg shadow-sm text-gray-50;
  }
  
  .btn:hover {
    background-color: brown;
  }
  
  input[type="file"] {
    display: none;
  }